<app-header></app-header>
<app-header></app-header>
<app-header></app-header>

<!-- <p>all room data: </p> -->
<!-- <h3>{{rooms$ | async | json}}</h3> -->
<p>No. of rooms</p>
<h3>{{roomleg$ | async}}</h3>

<br><br><p>{{errmsg$ | async}}</p><br><br>
<div [ngSwitch]="showtext">
    <div [ngStyle]="{'background':'#123'}" *ngSwitchCase="false">
        Nothing to show
    </div>
    <div *ngSwitchCase="true">
        Page Name:-
        {{pagename}}
    </div>
    <div *ngSwitchDefault>
        nothing
    </div>
</div>

<button class="btn btn-dark" (click)="show()" [innerText]="btn"></button>

<div *ngIf="room">
<p class="bg-dark">{{room | json}}</p>
</div>

<button class="btn btn-dange" (click)="showtext=showtext? false:true">Show List</button>
<div *ngIf="rooms$ |async as rooms">
    <app-rooms-list [rooms]="rooms" [btn]="btn" (deletedRoom)="deleteRoom($event)" (selectedRoom)="selectRoom($event)"></app-rooms-list>
    <button class="btn btn-dark m-1" (click)="addroom()">Add row</button>
    <button class="btn btn-dark m-1" (click)="editRoom()">Edit row</button>
</div>

<h1>{{totalbytes}}</h1>
