<app-header></app-header>
<app-header></app-header>
<app-header></app-header>


<div [ngSwitch]="showtext">
    <div [ngStyle]="{'background':'#123'}" *ngSwitchCase="false">
        Nothing to show
    </div>
    <div *ngSwitchCase="true">
        Page Name:-
        {{pagename}}
    </div>
    <div *ngSwitchDefault>
        nothing
    </div>
</div>

<button class="btn btn-dark" (click)="show()" [innerText]="btn"></button>

<div *ngIf="room">
<p class="bg-dark">{{room | json}}</p>
</div>

<button class="btn btn-dange" (click)="showtext=showtext? false:true">Show List</button>
<div *ngIf="showtext">
    <app-rooms-list [rooms]="roomList" [btn]="btn" (deletedRoom)="deleteRoom($event)" (selectedRoom)="selectRoom($event)"></app-rooms-list>
    <button class="btn btn-dark m-1" (click)="addroom()">Add row</button>
    <button class="btn btn-dark m-1" (click)="editRoom()">Edit row</button>
</div>

<h1>{{totalbytes}}</h1>
