div {
    padding: 10px;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 20px;
}
div:nth-child(1){
    background-color: black;
}

table,
th,
td {
    border: 1px transparent rgba(0, 225, 255, 0.692);
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    background-color: white;
}

